<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- Icons CSS -->
    <link rel="stylesheet" href="font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Wisov Optiko Demo</title>
</head>
<body>
    <!--Navbar Section -->
    <section class="navbar1">
        <div class="container">
            <header class="demo-header">
                <h1 class="demo-header-container">
                <!-- Brand logo -->
                <a class="navbar-brand" href="/" rel="tooltip" title="et Best Product!" data-placement="bottom">
                    Wisov Optika Demo
                </a>
                </h1>
            </header>
        </div>
    </section>

    <!--categories -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="display-5">Men's Fashion</h3>
                    <img src="../public/img/james.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="display-5">Women's Fashion</h3>
                    <img src="../public/img/bg40.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                        <h3 class="display-5">Street style Couture</h3> 
                        <img src="../public/img/bg41.jpg" class="img-fluid">
                </div>
            </div>
            <p class="tagline text-center">Better Fashion for Everyone</p>
        </div>
    </section>

    <!--footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 text-left">
                    <span class="text-muted">
                        <p>Copyright &copy Wisov Optika Demo</p></span>
                        <a href="#">About Us</a> | <a href="#">Contact</a> | <a href="#">Category</a>
                </div>
                <div class="col-md-8 col-12 text-left">
                    <span class="text-muted"><p>Designed by </span><a href="" 
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>