a {color: #FF3636;}
a:hover{color: #FF3636; text-decoration: underline;}
body,p {font-size: 14px}
.footer .col-md-8.col-12 {display: inline-flex; float: left;}
.footer .col-md-4.col-12 {display: inline-block; float: right;}